{% extends 'my_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}





{% block title %}
Bean Counter
{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-6">
        <div class="col-md-12 col-lg-12 my-5">
        <h1 class="text-center" style="color: #333333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-style: italic;">Uncover the true value of your garden! </h1>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12 col-lg-6 my-5 ">-->

<!--      <p class="text-left"><strong>Join our community and set up a personalized account.<br>-->
<!--Choose your preferred supermarket for pricing information from your user profile.<br>-->
<!--Easily enter the weight (in kg) of your harvested produce.<br>-->
<!--Watch your savings add up! Our running total feature lets you see your progress and previous entries anytime.<br>-->
<!--Feel proud of your commitment to sustainable living and enjoy significant savings on your grocery bills.<br>-->
<!--Want to track additional items? Let us know through our contact page and we'll add them to your Bean Counter profile.<br>-->
<!--Start saving money and making a positive impact on the environment today with Bean Counter!<br>-->
<!--      </strong></p>-->



<!--    </div>-->
 <div class="container">
  <div class="row my-5">
    <div class="col-md-6 text-center">
      <div class="col-md-12 col-lg-12 my-0">
        <h2 class="pt-5 pb-2" style="color: #333333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">How much will your harvest<br>save each week?</h2>
        <h3 class="pt-5 pb-2">Register to view your savings over time.</h3>
        <div class="text-center mt-5">
          <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
          <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h2 class="pt-5 pb-2" style="color: #333333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Are you ready to count the fruits of your labor?</h2>
        {{ note }}
        {{ wtf.quick_form(form) }}
        <p class="pt-5"><strong>{{ message }}</strong></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}
