{% extends 'my_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}





{% block title %}
Bean Counter
{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-6">
        <div class="col-md-12 col-lg-12 my-5">
        <h1 class="text-center">Count your savings and celebrate sustainable living with Bean Counter.</h1>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-6 my-5 ">

      <p class="text-left"><strong>Join our community and set up a personalized account.<br>
Choose your preferred supermarket for pricing information from your user profile.<br>
Easily enter the weight (in kg) of your harvested produce.<br>
Watch your savings add up! Our running total feature lets you see your progress and previous entries anytime.<br>
Feel proud of your commitment to sustainable living and enjoy significant savings on your grocery bills.<br>
Want to track additional items? Let us know through our contact page and we'll add them to your Bean Counter profile.<br>
Start saving money and making a positive impact on the environment today with Bean Counter!<br>
      </strong></p>



    </div>
      <div class="col-md-12 col-lg-6 my-0">
          <h3 class="pt-5 pb-2 text-center ">Calculate your savings from growing your own produce versus buying from the supermarket in the same week.</h3>
          <div class="text-center mt-5"><a href="{{ url_for('register') }}" class="btn btn-primary text-center">Get Started</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary text-center">Login</a>
          </div
          </div>
  </div>
</div>

{% endblock %}
