{% extends 'my_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}
Bean Counter
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">You have saved...</h1>

      <p class="lead">${{ savings }} on this product <br>
        {% if total_saved %}
        and ${{total_saved }} overall, look at you go! </p>
      {% endif %}
      <a href="{{ url_for('userinfo') }}" class="btn btn-primary text-center">Back to profile page</a>



    </div>
  </div>
</div>

{% endblock %}